/* 
по тегу 1
по классу 10
по id 100
стиль в самом теге 1000
*/

.main.border-div {
    background-color: rgb(92, 109, 109);
    border-style: dotted;
}

.main {
    background-color: aqua;
}

.border-div{
    border-style: solid !important;
}

.main p {
    font-size: 35px;
}